NODE_ENV=test
PORT=3001
DB_USER=your_test_db_user
DB_HOST=localhost
DB_PASSWORD=your_test_db_password
DB_DATABASE=your_test_db_name
DB_PORT=5432
DB_SSL=false
COOKIE_SECRET=your_test_cookie_secret
GITHUB_TOKEN=your_github_token_here
GITHUB_MANAGED_REPOS=VariaMos/VariaMosAdmin
HOME_REDIRECT_URI=http://localhost:3000/
LOGIN_REDIRECT_URI=http://localhost:3000/login
